<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.mapper.SecGalleryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.buba.pojo.SecGallery">
        <id column="id" property="id" />
        <result column="createtime" property="createtime" />
        <result column="album_info" property="albumInfo" />
        <result column="album_name" property="albumName" />
        <result column="album_sequence" property="albumSequence" />
        <result column="album_cover" property="albumCover" />
        <result column="activity_id" property="activityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createtime, album_info, album_name, album_sequence, album_cover, activity_id
    </sql>
</mapper>
